//META{"name":"Metroid Prime 3 - Rundas","description":"The bounty hunter Rundas, cold as ice, is ready to hunt. Metroid Prime 3 © Nintendo    |    Theme based on NFLD's template.    |    Support: https://nfld99.com/discord","author":"TwinShadow","version":"ersion auto updates"}*//{} 

/* Sorce Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/No.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/No.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/No.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Guild List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Guilds/No.css);
/* Invites */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/No.css);
/* Member List */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/No.css);
/* Offline Members */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/No.css);
/* User Popout Footer */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
/* Transparency Patch */ 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/No.css);

:root {
  --Main-Colour: rgba( 114, 160, 193, 1);
  --Background-Colour: rgba(0,0,0, 1);
  --Secondary-Background-Colour: rgba( 0,0,0, .3);
  --Secondary-Main-Colour: rgba( 129, 216, 208, .7);
  --Text-Shadow-Colour: rgba(0,0,0, .50);
  --Scroller-Colour: rgba( 201, 255, 229, .55);
  --Notification-Colour: rgba( 13, 152, 186, 0.35);
  --Chat-Input-Background: rgba(255,255,255,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://i.imgur.com/woAjcu6.png);
  --Settings-Background: rgba(75,76,76, 0.85);
  --Callout-Background: rgba(75,76,76, 0.50);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " Metroid Prime 3 - Rundas";
  --Chat-Font-Used: ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Callout-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: rgba(0,0,0, .3);
  --load1: "Metroid Prime 3";
  --load2: "Rundas";
  --load3: "Bounty Hunter";
  --File-Updated-2019-5-10: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 1;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 10%;
  --Background-Darkness: 0.60;
}

/* Embeds Discord Default Behavior */
.theme-dark .embedInner-1-fpTo {
    background-color: rgba(46,48,54,.3);
    border-color: rgba(46,48,54,.6);
}

.theme-dark .embedDescription-1Cuq9a, .theme-dark .embedFieldValue-nELq2s, .theme-dark .embedFooterText-28V_Wb, .theme-dark .embedProvider-3k5pfl {
    color: hsla(0,0%,100%,.6);
}
/* END */

/* Get rid of Gift Nitro and GIF buttons */
.button-38aScr[tabindex="2"]{
  display: none;
}

.button-38aScr[tabindex="3"]{
  display: none;
}
/* END */

/* Hide Discover Servers Button */
/*
.wrapper-1Rf91z .scroller-2TZvBN > .listItem-2P_4kh:not([folder*="folder_"]):nth-last-of-type(1) {
  display: none;
}
*/
/* END */